{% extends "main.html" %}
{% block content %}
	<div class="row pageHeader">
		<div class="col-md-12">
			<h1>Food &amp; Courses</h1>
            {%if 'username' not in session %}
            <p>Must login in order to edit courses and food</p>
            {% endif %}
		</div>
	</div>

<div class="row">
    <div class="col-md-4">
        <a href = "{{url_for('showCourses')}}">
            <h3>Courses</h3>
        </a>
        {% for course in courses %}
            <a href = "{{url_for('showFood', course_id=course.id)}}">
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10 course-list">
                            <h3>{{course.name}}</h3>
                        </div>
                    <div class="col-md-1"></div>
                </div>
            </a>
        {% endfor %}
    </div>
		
</div>

{%if 'username' in session %}
<div class="row">
    <div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCourse">
              Add Course
            </button>
		</div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
            <a href="{{url_for('editCourse')}}">
                <button type="button" class="btn btn-primary" >
                  Edit Course
                </button>
            </a>
		</div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
            <a href="{{url_for('deleteCourse')}}">
            <button type="button" class="btn btn-primary">
              Delete Course
            </button>
            </a>
		</div>
    <div class="col-md-1"></div>
</div>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="newCourse" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "" method = "post">
            <div class="form-group">
            <label for="newCourse">New Course</label>
            <input type="text" class="form-control" required="required" name = "newCourseName" id="courseName" placeholder="New course name">
            </div>
            <a href="{{url_for('showCourses')}}">
                <button type="submit" class="btn btn-primary">Create</button>
            </a>
                
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}